[phases.setup]
nixPkgs = [
  "php83",
  "php83Extensions.curl",
  "php83Extensions.mbstring",
  "php83Extensions.fileinfo",
  "php83Extensions.pdo",
  "php83Extensions.pdo_pgsql",
  "php83Extensions.zip",
  "nodejs_20",
  "php83Packages.composer"
]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install --no-audit --no-fund"
]

[phases.build]
cmds = [
  "npm run build",
  "php artisan view:clear",
  "php artisan config:clear"
]

[phases.start]
dependsOn = ["phases.build"]
cmd = "sh start.sh"

